In [1]:
import pandas as pd
import numpy as np

In [2]:
# 以2021年01-05月份資料為主
data_Q1=pd.read_csv(r'raw_data\2021Q1-deduplicated.csv')
data_M4=pd.read_csv(r'raw_data\202104-deduplicated.csv')
data_M5=pd.read_csv(r'raw_data\202105-deduplicated.csv')

C:\Users\godsp\AppData\Local\Temp\ipykernel_30352\2466929111.py:1: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  data_Q1=pd.read_csv(r'raw_data\2021Q1-deduplicated.csv')
C:\Users\godsp\AppData\Local\Temp\ipykernel_30352\2466929111.py:2: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  data_M4=pd.read_csv(r'raw_data\202104-deduplicated.csv')
C:\Users\godsp\AppData\Local\Temp\ipykernel_30352\2466929111.py:3: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  data_M5=pd.read_csv(r'raw_data\202105-deduplicated.csv')

In [3]:
# CONCAT 3 FILES
data_M1_M5=pd.concat([data_Q1,data_M4,data_M5],axis=0)
data_M1_M5

,重複物件數,最大物件編號,最小物件編號,最大物件首次發現時間,最小物件首次發現時間,租屋平台,縣市,鄉鎮市區,約略地點範圍,房屋曾出租過,...,提供家具_電視？,提供家具_熱水器？,提供家具_冷氣？,提供家具_沙發？,提供家具_洗衣機？,提供家具_衣櫃？,提供家具_冰箱？,提供家具_網路？,提供家具_第四台？,提供家具_天然瓦斯？
0,1,10000327,10000327,2021-03-21 04:34:36 CST,2021-03-21 04:34:36 CST,591 租屋網,11,1120,"(25.108578, 121.8073682, 25.108578, 121.8073682)",0,...,F,T,T,F,T,T,T,T,F,F
1,1,10002167,10002167,2020-12-02 04:23:38 CST,2020-12-02 04:23:38 CST,591 租屋網,11,1113,"(24.9945686, 121.4213451, 24.9945686, 121.4213...",1,...,T,T,T,F,T,T,T,F,T,F
2,1,10002255,10002255,2020-12-03 04:31:51 CST,2020-12-03 04:31:51 CST,591 租屋網,11,1113,"(24.9755229, 121.400614, 24.9755229, 121.400614)",1,...,T,T,T,T,T,T,T,T,T,F
3,1,10002280,10002280,2021-03-17 04:38:02 CST,2021-03-17 04:38:02 CST,591 租屋網,13,1309,"(24.8407651, 121.0064252, 24.8407651, 121.0064...",0,...,F,T,T,T,T,T,T,T,F,F
4,2,10002303,10002302,2021-03-14 04:37:12 CST,2021-02-02 04:36:17 CST,591 租屋網,13,1308,"(24.9082249, 121.0482939, 24.9082249, 121.0482...",1,...,T,T,T,F,T,T,T,T,T,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117267,1,9995105,9995105,2021-05-28 04:29:23 CST,2021-05-28 04:29:23 CST,591 租屋網,14,1400,"(24.9557372, 121.2413526, 24.9557372, 121.2413...",0,...,T,T,T,T,T,T,T,T,T,T
117268,1,9995205,9995205,2021-04-12 04:11:56 CST,2021-04-12 04:11:56 CST,591 租屋網,17,1709,"(24.989906, 121.564038, 24.989906, 121.564038)",1,...,T,T,T,F,T,T,T,T,T,F
117269,1,9998939,9998939,2021-05-28 04:04:32 CST,2021-05-28 04:04:32 CST,591 租屋網,17,1709,"(24.98793, 121.554318, 24.98793, 121.554318)",2,...,T,T,T,F,T,T,T,T,T,F
117270,1,9998978,9998978,2021-05-07 04:37:09 CST,2021-05-07 04:37:09 CST,591 租屋網,12,1201,"(24.793626, 120.96845, 24.793626, 120.96845)",2,...,T,T,T,F,T,T,T,T,T,F
117271,1,9999405,9999405,2021-05-24 04:08:46 CST,2021-05-24 04:08:46 CST,591 租屋網,17,1703,"(25.0794449, 121.592268, 25.0794449, 121.592268)",0,...,T,T,T,F,T,F,T,T,T,F

In [4]:
# SELECT COUNTY
data_M1_M5=data_M1_M5[data_M1_M5['縣市']==18]
data_M1_M5

,重複物件數,最大物件編號,最小物件編號,最大物件首次發現時間,最小物件首次發現時間,租屋平台,縣市,鄉鎮市區,約略地點範圍,房屋曾出租過,...,提供家具_電視？,提供家具_熱水器？,提供家具_冷氣？,提供家具_沙發？,提供家具_洗衣機？,提供家具_衣櫃？,提供家具_冰箱？,提供家具_網路？,提供家具_第四台？,提供家具_天然瓦斯？
12,1,10005553,10005553,2021-02-25 04:43:39 CST,2021-02-25 04:43:39 CST,591 租屋網,18,1806,"(23.004762, 120.22018, 23.004762, 120.22018)",1,...,T,T,T,F,T,T,T,T,T,F
48,1,10017445,10017445,2021-01-13 04:46:14 CST,2021-01-13 04:46:14 CST,591 租屋網,18,1829,"(22.9984159, 120.2333069, 22.9984159, 120.2333...",1,...,T,T,T,T,T,T,T,F,F,T
49,1,10017781,10017781,2020-12-02 04:47:26 CST,2020-12-02 04:47:26 CST,591 租屋網,18,1822,"(23.0709063, 120.296117, 23.0709063, 120.296117)",1,...,T,T,T,F,T,T,T,T,T,F
53,1,10020381,10020381,2021-01-26 04:45:52 CST,2021-01-26 04:45:52 CST,591 租屋網,18,1815,"(22.9974097, 120.1818466, 22.9974097, 120.1818...",2,...,T,T,T,T,T,T,T,T,T,F
89,1,10035211,10035211,2021-03-31 04:45:54 CST,2021-03-31 04:45:54 CST,591 租屋網,18,1824,"(22.9892171, 120.2169491, 22.9892171, 120.2169...",0,...,T,T,T,F,T,T,T,T,T,T
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117131,1,9814239,9814239,2021-04-01 04:48:27 CST,2021-04-01 04:48:27 CST,591 租屋網,18,1835,"(23.1817279, 120.252308, 23.1817279, 120.252308)",1,...,T,T,T,F,T,T,T,T,T,F
117159,1,9839338,9839338,2021-04-10 04:48:14 CST,2021-04-10 04:48:14 CST,591 租屋網,18,1815,"(22.994237, 120.181803, 22.994237, 120.181803)",1,...,T,T,T,T,T,T,T,T,T,T
117189,1,9895695,9895695,2021-05-05 04:46:33 CST,2021-05-05 04:46:33 CST,591 租屋網,18,1802,"(23.0021897, 120.1800013, 23.0021897, 120.1800...",2,...,T,T,T,T,T,T,T,T,T,F
117196,1,9904537,9904537,2021-05-12 04:46:59 CST,2021-05-12 04:46:59 CST,591 租屋網,18,1828,"(22.9087266, 120.2723213, 22.9087266, 120.2723...",0,...,T,T,T,F,T,T,F,T,F,F
117264,1,9991685,9991685,2021-04-24 04:46:18 CST,2021-04-24 04:46:18 CST,591 租屋網,18,1829,"(23.0095579, 120.2358959, 23.0095579, 120.2358...",1,...,T,T,T,F,T,T,T,T,T,F

In [5]:
# GET TARGET TOWN CODE
town_list=['臺南市東區','臺南市中西區','臺南市北區','臺南市南區','臺南市安平區','臺南市安南區','臺南市永康區']
towncode_list=pd.read_csv(r'編碼表\編碼表.鄉鎮市區.csv')
towncode_list=towncode_list[towncode_list['代表'].isin(town_list)]
towncode_list=towncode_list['編碼'].values
towncode_list

array([1802, 1806, 1809, 1813, 1815, 1824, 1829], dtype=int64)

In [6]:
# SELECT TOWN
data_M1_M5=data_M1_M5[data_M1_M5['鄉鎮市區'].isin(towncode_list)]
data_M1_M5

,重複物件數,最大物件編號,最小物件編號,最大物件首次發現時間,最小物件首次發現時間,租屋平台,縣市,鄉鎮市區,約略地點範圍,房屋曾出租過,...,提供家具_電視？,提供家具_熱水器？,提供家具_冷氣？,提供家具_沙發？,提供家具_洗衣機？,提供家具_衣櫃？,提供家具_冰箱？,提供家具_網路？,提供家具_第四台？,提供家具_天然瓦斯？
12,1,10005553,10005553,2021-02-25 04:43:39 CST,2021-02-25 04:43:39 CST,591 租屋網,18,1806,"(23.004762, 120.22018, 23.004762, 120.22018)",1,...,T,T,T,F,T,T,T,T,T,F
48,1,10017445,10017445,2021-01-13 04:46:14 CST,2021-01-13 04:46:14 CST,591 租屋網,18,1829,"(22.9984159, 120.2333069, 22.9984159, 120.2333...",1,...,T,T,T,T,T,T,T,F,F,T
53,1,10020381,10020381,2021-01-26 04:45:52 CST,2021-01-26 04:45:52 CST,591 租屋網,18,1815,"(22.9974097, 120.1818466, 22.9974097, 120.1818...",2,...,T,T,T,T,T,T,T,T,T,F
89,1,10035211,10035211,2021-03-31 04:45:54 CST,2021-03-31 04:45:54 CST,591 租屋網,18,1824,"(22.9892171, 120.2169491, 22.9892171, 120.2169...",0,...,T,T,T,F,T,T,T,T,T,T
110,1,10038319,10038319,2020-11-02 04:46:57 CST,2020-11-02 04:46:57 CST,591 租屋網,18,1829,"(23.0162837, 120.2234527, 23.0162837, 120.2234...",1,...,T,T,T,F,T,T,T,T,F,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117113,1,9788166,9788166,2021-04-03 04:47:20 CST,2021-04-03 04:47:20 CST,591 租屋網,18,1829,"(23.0402406, 120.2434677, 23.0402406, 120.2434...",1,...,T,T,T,T,T,T,T,T,T,F
117129,1,9812443,9812443,2021-04-03 04:47:51 CST,2021-04-03 04:47:51 CST,591 租屋網,18,1824,"(22.989899, 120.226441, 22.989899, 120.226441)",0,...,T,T,T,F,T,T,T,T,F,F
117159,1,9839338,9839338,2021-04-10 04:48:14 CST,2021-04-10 04:48:14 CST,591 租屋網,18,1815,"(22.994237, 120.181803, 22.994237, 120.181803)",1,...,T,T,T,T,T,T,T,T,T,T
117189,1,9895695,9895695,2021-05-05 04:46:33 CST,2021-05-05 04:46:33 CST,591 租屋網,18,1802,"(23.0021897, 120.1800013, 23.0021897, 120.1800...",2,...,T,T,T,T,T,T,T,T,T,F
117264,1,9991685,9991685,2021-04-24 04:46:18 CST,2021-04-24 04:46:18 CST,591 租屋網,18,1829,"(23.0095579, 120.2358959, 23.0095579, 120.2358...",1,...,T,T,T,F,T,T,T,T,T,F

In [7]:
# GET NA
data_M1_M5=data_M1_M5.replace('-',None)

In [8]:
# GET NA NUMBER IN EACH COLUMN
na_values=data_M1_M5.isna().sum().values
na_values

array([    0,     0,     0,     0,     0,     0,     0,     0,    88,
           0, 12814, 12814,     0,     0,  1273,  1273,  1627,  1627,
           0, 11481, 11481,     0,     0,     0,     0,     0,     0,
           0,     0,  9592,  9592,  9592,  9592,  9592,     0,     0,
           0,     0,     0,  3452,  3452,  3452,  3452,  3452,  3452,
        3452, 12801, 12801, 12801, 12801, 12801,     0,     0,     0,
           0,     0,     0,     0,    28,  9928,   797,   797,   797,
         797,   797,   797,   797,   797,   797,   797,   797,   797,
         797], dtype=int64)

In [9]:
# SELECT COLUMNS WHICH NA NUM > 9000
na_9000=data_M1_M5.iloc[:,np.argwhere(na_values>9000).T[0]]
na_9000

,最後出租時間,最大出租所費天數,需要停車費？,月停車費,陽台數,衛浴數,房數,客廳數,格局編碼（陽台/衛浴/房/廳）,附近的捷運站數,附近的公車站數,附近的火車站數,附近的高鐵站數,附近的公共自行車數（實驗中）,仲介資訊
12,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
48,None,None,T,0,1,2,2,2,_01020202,None,None,None,None,None,None
53,2021-01-30 09:55:53 CST,5,None,None,None,None,None,None,None,None,None,None,None,None,None
89,None,None,None,None,None,None,None,None,None,0,1,0,0,0,None
110,None,None,None,None,None,None,None,None,None,0,1,1,0,0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117113,None,None,None,None,None,None,None,None,None,0,0,1,0,0,None
117129,None,None,None,None,None,None,None,None,None,0,0,1,0,0,None
117159,None,None,T,0,None,None,None,None,None,None,None,None,None,None,None
117189,2021-05-07 08:25:55 CST,3,None,None,None,None,None,None,None,None,None,None,None,None,None
117264,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [10]:
# DROP THESE COLUMNS
data_M1_M5=data_M1_M5.drop(na_9000,axis=1)

In [11]:
data_M1_M5.isna().sum().values

array([   0,    0,    0,    0,    0,    0,    0,    0,   88,    0,    0,
          0, 1273, 1273, 1627, 1627,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0, 3452, 3452, 3452,
       3452, 3452, 3452, 3452,    0,    0,    0,    0,    0,    0,    0,
         28,  797,  797,  797,  797,  797,  797,  797,  797,  797,  797,
        797,  797,  797], dtype=int64)

In [12]:
print([data_M1_M5.columns[i] for i in np.argwhere(data_M1_M5.isna().sum().values==3452).T[0]])

['附近有_學校？', '附近有_公園？', '附近有_百貨公司？', '附近有_超商？', '附近有_傳統市場？', '附近有_夜市？', '附近有_醫療機構？']

In [13]:
data_M1_M5=data_M1_M5.dropna(subset=['附近有_學校？'])

In [14]:
data_M1_M5=data_M1_M5.dropna(subset=['提供家具_冰箱？'])

In [15]:
data_M1_M5=data_M1_M5.dropna(subset=['約略地點範圍'])

In [16]:
data_M1_M5.iloc[:,np.argwhere(data_M1_M5.isna().sum().values>0).T[0]]

        押金月數   押金金額 需要管理費？ 月管理費                               最大刊登者編碼
12       2.0  10000      F    0  afb50738-98dd-44b9-8a8f-6a4598d6698a
48       2.0  40000      F    0  03c0acac-f793-4a06-8f5e-f1372dde3156
53       2.0  17000      T  850  c2a85183-fc75-4064-8fb0-bb49ceb9c66e
89       2.0  15000      F    0  7cc0a42b-6a78-4440-b32f-e3c511f541cc
110      2.0  11000      F    0  20c6e1cc-7270-4b51-87d3-1dd8b51b9914
...      ...    ...    ...  ...                                   ...
117113   2.0  19000      F    0  adde1644-6b0d-41fa-874e-d58aa11a485b
117129   2.0   7600      F    0  984e196b-3b0a-4f3f-95da-22c4e3d87dbf
117159   2.0  15600      T  500  be1b11fa-ea49-465b-912e-8501d60d1ba5
117189   2.0  16000      F    0  5e485b63-f031-4e83-9303-89bb16aa43c2
117264  None   None      F    0  79a218ca-6317-4f93-8606-e826f4852084

[12004 rows x 5 columns]

In [17]:
data_M1_M5=data_M1_M5.drop(['最大刊登者編碼'],axis=1)

In [18]:
data_M1_M5=data_M1_M5.dropna(subset=['月管理費'])

In [19]:
data_M1_M5=data_M1_M5.drop(['押金月數','押金金額'],axis=1)

In [20]:
data_M1_M5.isna().sum().values

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [21]:
data_M1_M5.columns

Index(['重複物件數', '最大物件編號', '最小物件編號', '最大物件首次發現時間', '最小物件首次發現時間', '租屋平台', '縣市',
       '鄉鎮市區', '約略地點範圍', '房屋曾出租過', '月租金', '押金類型', '需要管理費？', '月管理費', '提供車位？',
       '每坪租金（含管理費與停車費）', '建築類型', '物件類型', '自報頂加？', '所在樓層', '建物樓高', '距頂樓層數',
       '坪數', '額外費用_電費？', '額外費用_水費？', '額外費用_瓦斯？', '額外費用_網路？', '額外費用_第四台？',
       '附近有_學校？', '附近有_公園？', '附近有_百貨公司？', '附近有_超商？', '附近有_傳統市場？', '附近有_夜市？',
       '附近有_醫療機構？', '有身份限制？', '有性別限制？', '性別限制', '可炊？', '可寵？', '有產權登記？',
       '刊登者類型', '提供家具_床？', '提供家具_桌子？', '提供家具_椅子？', '提供家具_電視？', '提供家具_熱水器？',
       '提供家具_冷氣？', '提供家具_沙發？', '提供家具_洗衣機？', '提供家具_衣櫃？', '提供家具_冰箱？', '提供家具_網路？',
       '提供家具_第四台？', '提供家具_天然瓦斯？'],
      dtype='object')

In [22]:
import re
pattern=r'\((\d+.\d+), (\d+.\d+), (\d+.\d+), (\d+.\d+)\)'
lat_list=[]
lng_list=[]
for i in data_M1_M5['約略地點範圍']:
    t=re.search(pattern,i)
    lat=t.group(1)
    lng=t.group(2)
    lat_list.append(lat)
    lng_list.append(lng)

In [23]:
data_M1_M5['緯度']=lat_list
data_M1_M5['經度']=lng_list

In [24]:
data_M1_M5=data_M1_M5.drop(['重複物件數','約略地點範圍','最大物件編號','最小物件編號','最大物件首次發現時間','最小物件首次發現時間','租屋平台','押金類型'],axis=1)

In [25]:
data_M1_M5

,縣市,鄉鎮市區,房屋曾出租過,月租金,需要管理費？,月管理費,提供車位？,每坪租金（含管理費與停車費）,建築類型,物件類型,...,提供家具_冷氣？,提供家具_沙發？,提供家具_洗衣機？,提供家具_衣櫃？,提供家具_冰箱？,提供家具_網路？,提供家具_第四台？,提供家具_天然瓦斯？,緯度,經度
12,18,1806,1,5000,F,0,F,1000.000,1,1,...,T,F,T,T,T,T,T,F,23.004762,120.22018
48,18,1829,1,20000,F,0,T,666.667,2,0,...,T,T,T,T,T,F,F,T,22.9984159,120.2333069
53,18,1815,2,8500,T,850,F,935.000,2,1,...,T,T,T,T,T,T,T,F,22.9974097,120.1818466
89,18,1824,0,7500,F,0,F,750.000,1,1,...,T,F,T,T,T,T,T,T,22.9892171,120.2169491
110,18,1829,1,5500,F,0,F,1100.000,1,1,...,T,F,T,T,T,T,F,F,23.0162837,120.2234527
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117113,18,1829,1,9500,F,0,F,863.636,1,1,...,T,T,T,T,T,T,T,F,23.0402406,120.2434677
117129,18,1824,0,3800,F,0,F,760.000,0,1,...,T,F,T,T,T,T,F,F,22.989899,120.226441
117159,18,1815,1,7800,T,500,T,830.000,2,1,...,T,T,T,T,T,T,T,T,22.994237,120.181803
117189,18,1802,2,8000,F,0,F,727.273,1,1,...,T,T,T,T,T,T,T,F,23.0021897,120.1800013
117264,18,1829,1,6000,F,0,F,800.000,1,1,...,T,F,T,T,T,T,T,F,23.0095579,120.2358959

In [26]:
data_M1_M5.columns

Index(['縣市', '鄉鎮市區', '房屋曾出租過', '月租金', '需要管理費？', '月管理費', '提供車位？',
       '每坪租金（含管理費與停車費）', '建築類型', '物件類型', '自報頂加？', '所在樓層', '建物樓高', '距頂樓層數',
       '坪數', '額外費用_電費？', '額外費用_水費？', '額外費用_瓦斯？', '額外費用_網路？', '額外費用_第四台？',
       '附近有_學校？', '附近有_公園？', '附近有_百貨公司？', '附近有_超商？', '附近有_傳統市場？', '附近有_夜市？',
       '附近有_醫療機構？', '有身份限制？', '有性別限制？', '性別限制', '可炊？', '可寵？', '有產權登記？',
       '刊登者類型', '提供家具_床？', '提供家具_桌子？', '提供家具_椅子？', '提供家具_電視？', '提供家具_熱水器？',
       '提供家具_冷氣？', '提供家具_沙發？', '提供家具_洗衣機？', '提供家具_衣櫃？', '提供家具_冰箱？', '提供家具_網路？',
       '提供家具_第四台？', '提供家具_天然瓦斯？', '緯度', '經度'],
      dtype='object')

In [27]:
def get_code(name):
    data=pd.read_csv(f'編碼表\\編碼表.{name}.csv')
    data=data[['編碼','代表']].to_dict('tight')['data']
    list1=[i[0] for i in data]
    list2=[i[1] for i in data]
    data=dict(zip(list1,list2))
    return data

In [28]:
type_dic=get_code('性別限制')
data_M1_M5['性別限制']=data_M1_M5['性別限制'].apply(lambda x:type_dic[x])
data_M1_M5['性別限制']

12        不限
48        不限
53        不限
89        限女
110       不限
          ..
117113    不限
117129    不限
117159    不限
117189    不限
117264    不限
Name: 性別限制, Length: 10679, dtype: object

In [29]:
# tran_type=['性別限制','物件類型','建築類型','鄉鎮市區','縣市']
# for i in tran_type:
#     type_dic=get_code(i)
#     data_M1_M5[i]=data_M1_M5[i].apply(lambda x:type_dic[x])

In [30]:
data_M1_M5

,縣市,鄉鎮市區,房屋曾出租過,月租金,需要管理費？,月管理費,提供車位？,每坪租金（含管理費與停車費）,建築類型,物件類型,...,提供家具_冷氣？,提供家具_沙發？,提供家具_洗衣機？,提供家具_衣櫃？,提供家具_冰箱？,提供家具_網路？,提供家具_第四台？,提供家具_天然瓦斯？,緯度,經度
12,18,1806,1,5000,F,0,F,1000.000,1,1,...,T,F,T,T,T,T,T,F,23.004762,120.22018
48,18,1829,1,20000,F,0,T,666.667,2,0,...,T,T,T,T,T,F,F,T,22.9984159,120.2333069
53,18,1815,2,8500,T,850,F,935.000,2,1,...,T,T,T,T,T,T,T,F,22.9974097,120.1818466
89,18,1824,0,7500,F,0,F,750.000,1,1,...,T,F,T,T,T,T,T,T,22.9892171,120.2169491
110,18,1829,1,5500,F,0,F,1100.000,1,1,...,T,F,T,T,T,T,F,F,23.0162837,120.2234527
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117113,18,1829,1,9500,F,0,F,863.636,1,1,...,T,T,T,T,T,T,T,F,23.0402406,120.2434677
117129,18,1824,0,3800,F,0,F,760.000,0,1,...,T,F,T,T,T,T,F,F,22.989899,120.226441
117159,18,1815,1,7800,T,500,T,830.000,2,1,...,T,T,T,T,T,T,T,T,22.994237,120.181803
117189,18,1802,2,8000,F,0,F,727.273,1,1,...,T,T,T,T,T,T,T,F,23.0021897,120.1800013
117264,18,1829,1,6000,F,0,F,800.000,1,1,...,T,F,T,T,T,T,T,F,23.0095579,120.2358959

In [31]:
data_M1_M5.to_csv('前處理後租金資料.csv')