In [6]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv('前處理後資料_統整.csv')
data

,field_1,縣市,鄉鎮市區,房屋曾出租過,月租金,需要管理費？,月管理費,提供車位？,每坪租金（含管理費與停車費）,建築類型,...,提供家具_洗衣機？,提供家具_衣櫃？,提供家具_冰箱？,提供家具_網路？,提供家具_第四台？,提供家具_天然瓦斯？,緯度,經度,VILLCODE,VILLNAME
0,12,臺南市,臺南市北區,1,5000,F,0,F,1000.000,透天,...,T,T,T,T,T,F,23.004762,120.220180,67000340008,仁愛里
1,48,臺南市,臺南市永康區,1,20000,F,0,T,666.667,電梯大樓,...,T,T,T,F,F,T,22.998416,120.233307,67000320027,莊敬里
2,53,臺南市,臺南市安平區,2,8500,T,850,F,935.000,電梯大樓,...,T,T,T,T,T,F,22.997410,120.181847,67000360005,建平里
3,89,臺南市,臺南市東區,0,7500,F,0,F,750.000,透天,...,T,T,T,T,T,T,22.989217,120.216949,67000320021,圍下里
4,110,臺南市,臺南市永康區,1,5500,F,0,F,1100.000,透天,...,T,T,T,T,F,F,23.016284,120.223453,67000340001,開元里
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10671,117113,臺南市,臺南市永康區,1,9500,F,0,F,863.636,透天,...,T,T,T,T,T,F,23.040241,120.243468,67000310010,塩行里
10672,117129,臺南市,臺南市東區,0,3800,F,0,F,760.000,公寓,...,T,T,T,T,F,F,22.989899,120.226441,67000320030,崇誨里
10673,117159,臺南市,臺南市安平區,1,7800,T,500,T,830.000,電梯大樓,...,T,T,T,T,T,T,22.994237,120.181803,67000360005,建平里
10674,117189,臺南市,臺南市中西區,2,8000,F,0,F,727.273,透天,...,T,T,T,T,T,F,23.002190,120.180001,67000370033,西湖里
10675,117264,臺南市,臺南市永康區,1,6000,F,0,F,800.000,透天,...,T,T,T,T,T,F,23.009558,120.235896,67000310001,五王里

In [9]:
data_district=data.groupby(by=['鄉鎮市區']).agg({'每坪租金（含管理費與停車費）':np.mean})
data_district

        每坪租金（含管理費與停車費）
鄉鎮市區
臺南市中西區      869.843110
臺南市北區       855.641567
臺南市南區       792.827619
臺南市安南區      691.074467
臺南市安平區      858.368114
臺南市東區       805.148265
臺南市永康區      813.860387

In [19]:
data_district['區']=data_district.index.str[3:]

In [24]:
data_district
data_district.to_csv('區平均租金.csv')

In [21]:
data_vill=data.groupby(by=['VILLNAME']).agg({'每坪租金（含管理費與停車費）':np.mean})
data_vill

          每坪租金（含管理費與停車費）
VILLNAME
三合里           701.161739
三民里           467.857000
中樓里           846.224038
中興里           736.528381
中華里           711.165713
...                  ...
鳳凰里           462.047474
鹽埕里           669.523867
龍埔里           739.266818
龍山里           883.828367
龍潭里           730.124762

[224 rows x 1 columns]

In [22]:
data_vill['里']=data_vill.index
data_vill

          每坪租金（含管理費與停車費）    里
VILLNAME
三合里           701.161739  三合里
三民里           467.857000  三民里
中樓里           846.224038  中樓里
中興里           736.528381  中興里
中華里           711.165713  中華里
...                  ...  ...
鳳凰里           462.047474  鳳凰里
鹽埕里           669.523867  鹽埕里
龍埔里           739.266818  龍埔里
龍山里           883.828367  龍山里
龍潭里           730.124762  龍潭里

[224 rows x 2 columns]

In [25]:
data_vill.to_csv('里平均租金.csv')